
<div id="container">
		<%= image_tag "senator_edouard.png", :id => "senator_edouard" %>
		<%= image_tag "frame.png", :id => "frame" %>
		<%= image_tag "top_hat.png", :id => "top_hat" %>


<ul class="slideshow">
	<li id="slide1">
		<%= image_tag "slide1_text.png" %>
			<%= image_tag "forward_hand.png", :id => "next1" %>
	</li>

	<li id="slide2">
		<%= image_tag "slide2_text.png" %>
		<div id="top_hat_position_menu">
			<%= select_tag "top_hat_position", options_for_select(["static", "fixed", "relative", "absolute"]) %>
		</div>
			<%= image_tag "back_hand.png", :id => "prev2" %>
			<%= image_tag "forward_hand.png", :id => "next2" %>
	</li>
		
	<li id="slide3">
		<%= image_tag "slide3_text.png" %>
		<div id="frame_position_menu">
			<%= select_tag "frame_position", options_for_select(["static", "fixed", "relative", "absolute"]) %>
		</div>
			<%= image_tag "back_hand.png", :id => "prev3" %>
			<%= image_tag "forward_hand.png", :id => "next3" %>
	</li>
		
	<li id="slide4">
		<%= image_tag "slide4_text.png" %>
		<div id="top_hat_z-index_menu">
			<%= select_tag "top_hat_z-index", options_for_select(["0", "1", "2", "3"]) %>
		</div>
		<div id="frame_z-index_menu">
			<%= select_tag "frame_z-index", options_for_select(["0", "1", "2", "3"]) %>
		</div>
			<%= image_tag "back_hand.png", :id => "prev4" %>
	</li>
</ul>
</div>

</div>