
<div id="container">
<div id="left">
	<div id="senator_edouard">
		<%= image_tag "senator_edouard.png" %>
	</div>
	<div id="frame">
		<%= image_tag "frame.png" %>
	</div>
	<div id="top_hat">
		<%= image_tag "top_hat.png" %>
	</div>
</div>


<div id="right">
<ul class="slideshow">

	<li id="slide1">
		<%= image_tag "slide1_text.png" %>
		<div id="next1">
			<%= image_tag "forward_hand.png", :alt => "next" %>
		</div>
	</li>

	<li id="slide2">
		<%= image_tag "slide2_text.png" %>
		<div id="top_hat_position_menu">
			<%= select_tag "top_hat_position", options_for_select(["static", "fixed", "relative", "absolute"]) %>
		</div>
		<div id="prev2">
			<%= image_tag "back_hand.png", :alt => "previous" %>
		</div>
		<div id="next2">
			<%= image_tag "forward_hand.png", :alt => "next" %>
		</div>
	</li>
		
	<li id="slide3">
		<%= image_tag "slide3_text.png" %>
		<div id="frame_position_menu">
			<%= select_tag "frame_position", options_for_select(["static", "fixed", "relative", "absolute"]) %>
		</div>
		<div id="prev3">
			<%= image_tag "back_hand.png", :alt => "previous" %>
		</div>
		<div id="next3">
			<%= image_tag "forward_hand.png", :alt => "next" %>
		</div>
	</li>
		
	<li id="slide4">
		<%= image_tag "slide4_text.png" %>
		<div id="top_hat_z-index_menu">
			<%= select_tag "top_hat_z-index", options_for_select(["0", "1", "2", "3"]) %>
		</div>
		<div id="frame_z-index_menu">
			<%= select_tag "frame_z-index", options_for_select(["0", "1", "2", "3"]) %>
		</div>
		<div id="prev4">
			<%= image_tag "back_hand.png", :alt => "next" %>
		</div>
	</li>
</ul>
</div>


</div>
</div>