
<div id="container">
<div id="left">
<div id="frame">
	<%= image_tag "frame.png", :alt => "2" %>
</div>

<div id="top_hat">
	<%= image_tag "top_hat.png", :alt => "1" %>
</div>

<div id="senator_eduard">
	<%= image_tag "senator_eduard.png", :alt => "0" %>
</div>
</div>





<ul class="slideshow">

	<li id="slide1">
		<div id="next1">
			<%= image_tag "forward_hand.png", :alt => "next" %>
		</div>
	</li>

	<li id="slide2">
		<div id="prev2">
			<%= image_tag "back_hand.png", :alt => "previous" %>
		</div>
		<div id="next2">
			<%= image_tag "forward_hand.png", :alt => "next" %>
		</div>
	</li>
		
		
</ul>



</div>
</div>